<div class="panel panel-default">
   <a class="panel-heading" data-toggle="collapse" data-parent="#calculator" href="/calculator/load-single-calculator#collapse1">
      <h4 class="panel-title">Step 1</h4>
   </a>
   <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
         <div class="calculator-inputs row">
            <span class="calculator-title">Rent vs. Buy</span>
            <span class="calculator-title left">Rent Info</span>
            <div class="form-group col-xs-12">
               <label for="calculator_widget_PeriodRent">Monthly Rent</label>
               <div class="input-group">
                  <input class="form-control" type="text" required data-format="number" value="800.00" data-placeholder="800.00" id="calculator_widget_PeriodRent" name="calculator_widget[PeriodRent]"/>
                  <div class="input-group-addon">$</div>
               </div>
            </div>
            <div class="form-group col-xs-12">
               <label for="calculator_widget_AnnualRentIncrease">Annual Rent Increase</label>
               <div class="input-group">
                  <input class="form-control" type="text" required data-format="number" value="4.000" data-placeholder="4.000" id="calculator_widget_AnnualRentIncrease" name="calculator_widget[AnnualRentIncrease]"/>
                  <div class="input-group-addon">%</div>
               </div>
            </div>
         </div>
         <a class="calculator-button next-button">Next</a>
      </div>
   </div>
</div>
<div class="panel panel-default">
   <a class="panel-heading" data-toggle="collapse" data-parent="#calculator" href="/calculator/load-single-calculator#collapse2">
      <h4 class="panel-title">Step 2</h4>
   </a>
   <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
         <div class="calculator-inputs row">
            <span class="calculator-title">Rent vs. Buy</span>
            <span class="calculator-title left">Property Information</span>
            <div class="form-group col-xs-12">
               <label for="calculator_widget_HomeValue">Home Value</label>
               <div class="input-group">
                  <input class="form-control" type="text" required data-format="number" value="300,000.00" data-placeholder="300,000.00" id="calculator_widget_HomeValue" name="calculator_widget[HomeValue]"/>
                  <div class="input-group-addon">$</div>
               </div>
            </div>
            <div class="form-group col-xs-12">
               <label for="calculator_widget_AnnualMaintanance">Annual Maintenance</label>
               <div class="input-group">
                  <input class="form-control" type="text" required data-format="number" value="900.00" data-placeholder="900.00" id="calculator_widget_AnnualMaintanance" name="calculator_widget[AnnualMaintanance]"/>
                  <div class="input-group-addon">$</div>
               </div>
            </div>
            <div class="form-group col-xs-12">
               <label for="calculator_widget_AnnualAppreciation">Annual Appreciation</label>
               <div class="input-group">
                  <input class="form-control" type="text" required data-format="number" value="5.000" data-placeholder="5.000" id="calculator_widget_AnnualAppreciation" name="calculator_widget[AnnualAppreciation]"/>
                  <div class="input-group-addon">%</div>
               </div>
            </div>
            <div class="form-group col-xs-6">
               <label for="calculator_widget_YearsBeforeSell">Years Before Sell</label>
               <div class="input-group">
                  <input class="form-control" type="text" required data-format="number" value="5" data-placeholder="5" id="calculator_widget_YearsBeforeSell" name="calculator_widget[YearsBeforeSell]"/>
                  <div class="input-group-addon">Yrs</div>
               </div>
            </div>
            <div class="form-group col-xs-6">
               <label for="calculator_widget_SellingCost">Selling Cost</label>
               <div class="input-group">
                  <input class="form-control" type="text" required data-format="number" value="7.000" data-placeholder="7.000" id="calculator_widget_SellingCost" name="calculator_widget[SellingCost]"/>
                  <div class="input-group-addon">%</div>
               </div>
            </div>
         </div>
         <a class="calculator-button prev-button">Previous</a>
         <a class="calculator-button next-button">Next</a>
      </div>
   </div>
</div>
<div class="panel panel-default">
   <a class="panel-heading" data-toggle="collapse" data-parent="#calculator" class="accordion-toggle" href="/calculator/load-single-calculator#collapse3">
      <h4 class="panel-title">Step 3</h4>
   </a>
   <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
         <div class="calculator-inputs row">
            <span class="calculator-title">Rent vs. Buy</span>
            <span class="calculator-title left">Loan Information</span>
            <div class="form-group col-xs-12">
               <label for="calculator_widget_amount">Loan Amount</label>
               <div class="input-group">
                  <input class="form-control" type="text" required data-format="number" value="250,000.00" data-placeholder="250,000.00" id="calculator_widget_amount" name="calculator_widget[Amount]"/>
                  <div class="input-group-addon">$</div>
               </div>
            </div>
            <div class="form-group col-xs-12">
               <label for="calculator_widget_interest">Interest Rate</label>
               <div class="input-group">
                  <input class="form-control" type="text" required data-format="number" value="5.000" data-placeholder="5.000" id="calculator_widget_interest" name="calculator_widget[Interest]"/>
                  <div class="input-group-addon">%</div>
               </div>
            </div>
            <div class="form-group col-xs-12">
               <label for="calculator_widget_Length_Before">Length</label>
               <div class="input-group">
                  <input class="form-control" type="text" required data-format="number" value="30" data-placeholder="30" id="calculator_widget_Length" name="calculator_widget[Length]"/>
                  <div class="input-group-addon">Yrs</div>
               </div>
            </div>
            <div class="form-group col-xs-12">
               <label for="calculator_widget_Points">Points</label>
               <div class="input-group">
                  <input class="form-control" type="text" required data-format="number" value="1.000" data-placeholder="1.000" id="calculator_widget_Points" name="calculator_widget[Points]"/>
                  <div class="input-group-addon">$</div>
               </div>
            </div>
         </div>
         <a class="calculator-button prev-button">Previous</a>
         <a class="calculator-button next-button">Next</a>
      </div>
   </div>
</div>
<div class="panel panel-default">
   <a class="panel-heading" data-toggle="collapse" data-parent="#calculator" class="accordion-toggle" href="/calculator/load-single-calculator#collapse4">
      <h4 class="panel-title">Step 4</h4>
   </a>
   <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
         <div class="calculator-inputs row">
            <span class="calculator-title smaller">Rent vs. Buy</span>
            <span class="calculator-title left">Taxes And Insurance Information</span>
            <div class="form-group col-xs-12">
               <label for="calculator_widget_Taxes">Tax Rates</label>
               <div class="input-group">
                  <input class="form-control" type="text" required data-format="number" value="26.000" data-placeholder="26.000" id="calculator_widget_Taxes" name="calculator_widget[Taxes]"/>
                  <div class="input-group-addon">%</div>
               </div>
            </div>
            <div class="radio-group-container">
               <div class="form-group col-md-10 col-xs-9">
                  <label for="calculator_widget_PropertyTaxes">Annual Taxes</label>
                  <input class="form-control" type="text" required data-format="number" value="3,000.00" data-placeholder="3,000.00" id="calculator_widget_PropertyTaxes" name="calculator_widget[PropertyTaxes]"/>
               </div>
               <div class="form-group col-md-2 col-xs-3">
                  <div class="radio-checkbox-group row">
                     <input type="radio" checked="checked" value="0" name="calculator_widget[PropertyTaxesSel]" id="calculator_widget_PropertyTaxesSel0" />
                     <label for="calculator_widget_PropertyTaxesSel0">$</label>
                     <input type="radio"  value="1" name="calculator_widget[PropertyTaxesSel]" id="calculator_widget_PropertyTaxesSel1" />
                     <label for="calculator_widget_PropertyTaxesSel1">%</label>
                  </div>
               </div>
            </div>
            <div class="radio-group-container">
               <div class="form-group col-md-10 col-xs-9">
                  <label for="calculator_widget_AnnualInsurance">Annual Insurance</label>
                  <input class="form-control" type="text" required data-format="number" value="1,500.00" data-placeholder="1,500.00" id="calculator_widget_AnnualInsurance" name="calculator_widget[Insurance]"/>
               </div>
               <div class="form-group col-md-2 col-xs-3">
                  <div class="radio-checkbox-group row">
                     <input type="radio" checked="checked" value="0" name="calculator_widget[InsuranceSel]" id="calculator_widget_InsuranceSel0" />
                     <label for="calculator_widget_InsuranceSel0">$</label>
                     <input type="radio"  value="1" name="calculator_widget[InsuranceSel]" id="calculator_widget_InsuranceSel1" />
                     <label for="calculator_widget_InsuranceSel1">%</label>
                  </div>
               </div>
            </div>
            <div class="radio-group-container">
               <div class="form-group col-md-10 col-xs-9">
                  <label for="calculator_widget_AnnualInsurance">Annual PMI</label>
                  <input class="form-control" type="text" required data-format="number" value="0.500" data-placeholder="0.500" id="calculator_widget_AnnualPMI" name="calculator_widget[PMI]"/>
               </div>
               <div class="form-group col-md-2 col-xs-3">
                  <div class="radio-checkbox-group row">
                     <input type="radio"  value="0" name="calculator_widget[PMISel]" id="calculator_widget_PMISel0" />
                     <label for="calculator_widget_PMISel0">$</label>
                     <input type="radio" checked="checked" value="1" name="calculator_widget[PMISel]" id="calculator_widget_PMISel1" />
                     <label for="calculator_widget_PMISel1">%</label>
                  </div>
               </div>
            </div>
         </div>
         <a class="calculator-button prev-button">Previous</a>
         <a class="calculator-button finish-button">Show Results</a>
      </div>
   </div>
</div>
<div class="panel panel-default">
   <a class="panel-heading" data-toggle="collapse" data-parent="#calculator" class="accordion-toggle" href="/calculator/load-single-calculator#collapse5">
      <h4 class="panel-title">Results</h4>
   </a>
   <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
         <div id="result_container">
            <span class="calculator-title">Results</span>
            <div id="analysisDiv" style="display:  inline ">
               <div class="table-caption analysis">
                  Financial Analysis <br class="only-mobile-small">(<a href="javascript:;" data-switch="switchToPlainEnglish">Switch to Plain English</a>)
               </div>
               <table class="table" id="calculator-result-table">
                  <thead>
                     <tr class="total">
                        <td class="empty" style="border: 0">&nbsp;</td>
                        <th scope="col">Rent</th>
                        <th scope="col">Buy</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <th scope="row">Taxes and Insurance</th>
                        <td>$0.00</td>
                        <td>$22,500.00</td>
                     </tr>
                     <tr>
                        <th scope="row">Total PMI</th>
                        <td>$0.00</td>
                        <td>$3,229.17</td>
                     </tr>
                     <tr>
                        <th scope="row">Total Maintenance</th>
                        <td>$0.00</td>
                        <td>$4,500.00</td>
                     </tr>
                     <tr>
                        <th scope="row"><strong>Total Payments</strong></th>
                        <td>$51,996.70</td>
                        <td>$110,752.41</td>
                     </tr>
                     <tr>
                        <th scope="row">Average Monthly Payment</th>
                        <td>$866.61</td>
                        <td>$1,845.87</td>
                     </tr>
                     <tr>
                        <th scope="row"><strong>Monthly Rent Savings</strong></th>
                        <td colspan="2" style="text-align: center">$979.26</td>
                     </tr>
                     <tr>
                        <th scope="row">Tax Savings</th>
                        <td>$0.00</td>
                        <td>$4,550.00</td>
                     </tr>
                     <tr>
                        <th scope="row">Total Rent Savings</th>
                        <td colspan="2" style="text-align: center">$54,205.71</td>
                     </tr>
                     <tr>
                        <th scope="row">House Appreciation Value</th>
                        <td colspan="2" style="text-align: center">$382,884.47</td>
                     </tr>
                     <tr>
                        <th scope="row">Proceeds Minus Costs</th>
                        <td colspan="2" style="text-align: center">$356,082.56</td>
                     </tr>
                     <tr>
                        <th scope="row">Loan Balance</th>
                        <td colspan="2" style="text-align: center">$229,571.83</td>
                     </tr>
                     <tr>
                        <th scope="row">Equity Appreciation</th>
                        <td colspan="2" style="text-align: center">$126,510.73</td>
                     </tr>
                     <tr>
                        <th scope="row"><strong>Home Purchase Benefits</strong></th>
                        <td colspan="2" style="text-align: center">$72,305.01</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div id="plainEnglishDiv" style="display:  none ">
               <div class="table-caption analysis">
                  Plain English Help <br class="only-mobile-small">(<a href="javascript:;" data-switch="switchToAnalysis">Switch to Financial Analysis</a>)
               </div>
               <div class="results">
                  <p>Is it financially better to buy a home or to rent?  The answer to this question depends upon how much the home costs, how much you are paying for rent, and how much you will have to pay each year in order to maintain your home.</p>
                  <p>If you were to pay $800.00 per month, for example, and the average rental payment increase was 4.000%, <b>you would pay $51,996.70 in a 5 year period toward rent.</b>  If you purchased a home and borrowed $250,000.00 with a 5.000% interest rate, and you paid $900.00 every year toward its maintenance, <b>you would pay $110,752.41 in a 5 year period toward mortgage payments</b> if your Federal tax rate is 26.000%, you pay $3,000.00 in taxes each year and your annual insurance rate is $1,500.00.</p>
                  <p>When you consider your tax benefits and the appreciation of your home, however, <b>you will actually SAVE money by purchasing a home.</b> If your home shows an annual appreciation of 5.000% and your selling cost is 7.000%, your house appreciation value will be $382,884.47. As a result, <b>your total home purchase benefit will amount to $72,305.01.</b></p>
               </div>
            </div>
         </div>
         <a class="calculator-button recalculate-button">Recalculate</a>
      </div>
   </div>
</div>