<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calc</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css" />

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <style>
        #answer {
            display: none;
        }
    </style>
    
</head>

<body ng-app="mortgage-payment-calc">
    <div class="comtroller" ng-controller="MainCtrl">
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 0 0 30px">
            <div class="container">
                <a class="navbar-brand" href="#">h1mb</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="mortgage-calculator.html">Mortgage</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="rent-vs-buy-calculator.html">Rent vs. Buy</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="refinance-calculator.html">Refinance</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="availability-calculator.html">Availability</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <section id="step1">
                        <h4 class="panel-title">Loan Information</h4>

                        <form ng-submit="onFormSubmit()" id="calculator-form">
                            <div class="form-group">
                                <label for="calculator_widget_amount">Loan Amount</label>
                                <div class="input-group">
                                    <input class="form-control" type="text" ng-change="onInputChange()" required data-format="number" ng-model="loan_amount" data-placeholder="250,000.00" id="calculator_widget_amount" name="calculator_widget[Amount]">
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="calculator_widget_amount">Intereset rate</label>
                                <div class="input-group">
                                    <input class="form-control" type="text" ng-change="onInputChange()" required data-format="number" ng-model="interest_rate" data-placeholder="5.000" id="calculator_widget_interest"
                                        name="calculator_widget[Interest]">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="calculator_widget_amount">Length</label>
                                <div class="input-group">
                                    <input class="form-control" type="text" ng-change="onInputChange()" required data-format="number" ng-model="years" data-placeholder="30" id="calculator_widget_Length"
                                        name="calculator_widget[Length]">
                                    <span class="input-group-addon">Yrs</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="calculator_widget_amount">Home value</label>
                                <div class="input-group">
                                    <input class="form-control" type="text" required data-format="number" value="300,000.00" data-placeholder="300,000.00" id="calculator_widget_HomeValue"
                                        name="calculator_widget[HomeValue]">
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" type="button">
                                Show results
                           </button>
                            <button class="btn btn-outline-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                                aria-controls="collapseExample">
                                Advanced options
                           </button>
                            <div class="collapse" id="collapseExample" style="margin: 30px 0 0">

                                <div class="form-group">
                                    <label for="calculator_widget_PropertyTaxes">Annual Taxes</label>
                                    <div class="input-group">
                                        <input class="form-control" type="text" required data-format="number" value="3,000.00" data-placeholder="3,000.00" id="calculator_widget_PropertyTaxes" name="calculator_widget[PropertyTaxes]">
                                        <span class="input-group-addon">
                                            <input type="radio" checked="checked" value="0" name="calculator_widget[PropertyTaxesSel]" id="calculator_widget_PropertyTaxesSel0" />
                                            <label for="calculator_widget_PropertyTaxesSel0">$</label>
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" value="1" name="calculator_widget[PropertyTaxesSel]" id="calculator_widget_PropertyTaxesSel1" />
                                            <label for="calculator_widget_PropertyTaxesSel1">%</label>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="calculator_widget_PropertyTaxes">Annual Insurance</label>
                                    <div class="input-group">
                                        <input class="form-control" type="text" required data-format="number" value="1,500.00" data-placeholder="1,500.00" id="calculator_widget_Insurance" name="calculator_widget[Insurance]" />
                                        <span class="input-group-addon">
                                            <input type="radio" checked="checked" value="0" name="calculator_widget[InsuranceSel]" id="calculator_widget_InsuranceSel0" />
                                            <label for="calculator_widget_InsuranceSel0">$</label>
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" value="1" name="calculator_widget[InsuranceSel]" id="calculator_widget_InsuranceSel1" />
                                            <label for="calculator_widget_InsuranceSel1"> %</label>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="calculator_widget_PropertyTaxes">Annual PMI</label>
                                    <div class="input-group">
                                        <input class="form-control" type="text" required data-format="number" value="0.500" data-placeholder="0.500" id="calculator_widget_PMI" name="calculator_widget[PMI]" />
                                        <span class="input-group-addon">
                                            <input type="radio" value="0" name="calculator_widget[PMISel]" id="calculator_widget_PMISel0" />
                                            <label for="calculator_widget_PMISel0">$</label>
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" checked="checked" value="1" name="calculator_widget[PMISel]" id="calculator_widget_PMISel1" />
                                            <label for="calculator_widget_PMISel1">%</label>
                                        </span>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                        
                        <div class="card" id="answer" style="margin: 30px 0 0">
                            <div class="card-header">
                                Results
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">

                                </table>
                            </div>
                        </div>
                    </section>

                </div>

                <div class="col-md-8">
                    <section class="chart">
                        <nvd3 options="options_mortgagePaymentSchedule" data="mpsdata" class="with-3d-shadow with-transitions"></nvd3>
                    </section>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script>
        jQuery(function() {

            $ = jQuery;
            form = $('form#calculator-form');

            form.submit(function(e) {
                e.preventDefault();

                var data = new FormData();

                data.append("calculator", "MortgagePaymentCalculator");
                data.append("template", "SingleMortgagePaymentCalculator");
                data.append("calculatorData[calculator_widget][Amount]", $(this).find('input[name="calculator_widget[Amount]"]').val());
                data.append("calculatorData[calculator_widget][Interest]", $(this).find('input[name="calculator_widget[Interest]"]').val());
                data.append("calculatorData[calculator_widget][Length]", $(this).find('input[name="calculator_widget[Length]"]').val());
                data.append("calculatorData[calculator_widget][HomeValue]", $(this).find('input[name="calculator_widget[HomeValue]"]').val());
                data.append("calculatorData[calculator_widget][PropertyTaxes]", $(this).find('input[name="calculator_widget[PropertyTaxes]"]').val());
                data.append("calculatorData[calculator_widget][PropertyTaxesSel]", $(this).find('input[name="calculator_widget[PropertyTaxesSel]"]').val());
                data.append("calculatorData[calculator_widget][Insurance]", $(this).find('input[name="calculator_widget[Insurance]"]').val());
                data.append("calculatorData[calculator_widget][InsuranceSel]", $(this).find('input[name="calculator_widget[InsuranceSel]"]').val());
                data.append("calculatorData[calculator_widget][PMI]", $(this).find('input[name="calculator_widget[PMI]"]').val());
                data.append("calculatorData[calculator_widget][PMISel]", $(this).find('input[name="calculator_widget[PMISel]"]').val());

                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "./api.php",
                    "method": "POST",
                    "headers": {
                        "cache-control": "no-cache",
                        "postman-token": "4ba25b73-2b78-3fae-62ac-6f35e917e76f"
                    },
                    "processData": false,
                    "contentType": false,
                    "mimeType": "multipart/form-data",
                    "data": data
                }

                $.ajax(settings)
                .done(function(res) {
                    // console.log(res);
                    var results = [];
                    var result_table = $(res).find('#result_container table.table');
                    $('#answer').find('table tr').remove();
                    result_table.find('tr').each(function(index, value) {
                        $('#answer').show();
                        $('#answer').find('table').append(value);
                        results[index] = {
                            label: $(value).find('th').text(),
                            value: $(value).find('td').text()
                        }
                    })
                })
            })
        });
    </script>
</body>

</html>