<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calc</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <style>
        #answer {
            display: none;
        }
    </style>

</head>

<body ng-app="mortgage-payment-calc">
    <div class="comtroller" ng-controller="MainCtrl">

        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 0 0 30px">
            <div class="container">
                <a class="navbar-brand" href="#">h1mb</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="mortgage-calculator.html">Mortgage</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="rent-vs-buy-calculator.html">Rent vs. Buy</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="refinance-calculator.html">Refinance</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="availability-calculator.html">Availability</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <section id="step1">
                        <form ng-submit="onFormSubmit()" id="calculator-form">
                            <input type="text" type="hidden" id="test" ng-change="test(totalPaymentsRent, '{{totalPaymentsRent}}')" ng-model="totalPaymentsRent">
                            <input type="hidden" type="hidden" ng-model="totalPaymentsBuy">
                            {{ totalPaymentsRent }}
                            <div id="accordion" role="tablist" style="margin: 0 0 30px">

                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h5 class="mb-0"><a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Step 1</a></h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <h4>Rent info.</h4>
                                            <div class="form-group">
                                                <label for="calculator_widget_PeriodRent">Monthly rent</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="800.00" data-placeholder="800.00" id="calculator_widget_PeriodRent" name="calculator_widget[PeriodRent]" />
                                                    <div class="input-group-addon">$</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="calculator_widget_AnnualRentIncrease">Annual rent increase</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="4.000" data-placeholder="4.000" id="calculator_widget_AnnualRentIncrease" name="calculator_widget[AnnualRentIncrease]" />
                                                    <div class="input-group-addon">%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h5 class="mb-0"><a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Step 2</a></h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <h4>Property information</h4>
                                            <div class="form-group">
                                                <label for="calculator_widget_HomeValue">Home Value</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="300,000.00" data-placeholder="300,000.00" id="calculator_widget_HomeValue" name="calculator_widget[HomeValue]" />
                                                    <div class="input-group-addon">$</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="calculator_widget_AnnualMaintanance">Annual Maintenance</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="900.00" data-placeholder="900.00" id="calculator_widget_AnnualMaintanance" name="calculator_widget[AnnualMaintanance]" />
                                                    <div class="input-group-addon">$</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="calculator_widget_AnnualAppreciation">Annual Appreciation</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="5.000" data-placeholder="5.000" id="calculator_widget_AnnualAppreciation" name="calculator_widget[AnnualAppreciation]" />
                                                    <div class="input-group-addon">%</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="calculator_widget_YearsBeforeSell">Years Before Sell</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="5" data-placeholder="5" id="calculator_widget_YearsBeforeSell" name="calculator_widget[YearsBeforeSell]" />
                                                    <div class="input-group-addon">Yrs</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="calculator_widget_SellingCost">Selling Cost</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="7.000" data-placeholder="7.000" id="calculator_widget_SellingCost" name="calculator_widget[SellingCost]" />
                                                    <div class="input-group-addon">%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <h5 class="mb-0"><a data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Step 3</a></h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <h4>Loan information</h4>
                                            <div class="form-group">
                                                <label for="calculator_widget_amount">Loan Amount</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="250,000.00" data-placeholder="250,000.00" id="calculator_widget_amount" name="calculator_widget[Amount]" />
                                                    <div class="input-group-addon">$</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="calculator_widget_interest">Interest Rate</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="5.000" data-placeholder="5.000" id="calculator_widget_interest" name="calculator_widget[Interest]" />
                                                    <div class="input-group-addon">%</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="calculator_widget_Length_Before">Length</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="30" data-placeholder="30" id="calculator_widget_Length" name="calculator_widget[Length]" />
                                                    <div class="input-group-addon">Yrs</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="calculator_widget_Points">Points</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="1.000" data-placeholder="1.000" id="calculator_widget_Points" name="calculator_widget[Points]" />
                                                    <div class="input-group-addon">$</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" role="tab" id="headingFour">
                                        <h5 class="mb-0"><a data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Step 3</a></h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                                        <div class="card-body">
                                            <h4>Taxes &amp; information</h4>
                                            <div class="form-group">
                                                <label for="calculator_widget_Taxes">Tax Rates</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="26.000" data-placeholder="26.000" id="calculator_widget_Taxes" name="calculator_widget[Taxes]" />
                                                    <div class="input-group-addon">%</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="calculator_widget_PropertyTaxes">Annual Taxes</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="3,000.00" data-placeholder="3,000.00" id="calculator_widget_PropertyTaxes" name="calculator_widget[PropertyTaxes]" />
                                                    <span class="input-group-addon">
                                                        <input type="radio" checked="checked" value="0" name="calculator_widget[PropertyTaxesSel]" id="calculator_widget_PropertyTaxesSel0" />
                                                         <label for="calculator_widget_PropertyTaxesSel0">$</label>
                                                    </span>
                                                    <span class="input-group-addon">
                                                        <input type="radio"  value="1" name="calculator_widget[PropertyTaxesSel]" id="calculator_widget_PropertyTaxesSel1" />
                                                         <label for="calculator_widget_PropertyTaxesSel1">%</label>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="calculator_widget_AnnualInsurance">Annual Insurance</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="1,500.00" data-placeholder="1,500.00" id="calculator_widget_AnnualInsurance" name="calculator_widget[Insurance]" />
                                                    <span class="input-group-addon">
                                                        <input type="radio" checked="checked" value="0" name="calculator_widget[InsuranceSel]" id="calculator_widget_InsuranceSel0" />
                                                        <label for="calculator_widget_InsuranceSel0">$</label>
                                                    </span>
                                                    <span class="input-group-addon">
                                                        <input type="radio"  value="1" name="calculator_widget[InsuranceSel]" id="calculator_widget_InsuranceSel1" />
                                                        <label for="calculator_widget_InsuranceSel1">%</label>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="calculator_widget_AnnualInsurance">Annual PMI</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" required data-format="number" value="0.500" data-placeholder="0.500" id="calculator_widget_AnnualPMI" name="calculator_widget[PMI]"/>
                                                    <span class="input-group-addon">
                                                        <input type="radio"  value="0" name="calculator_widget[PMISel]" id="calculator_widget_PMISel0" />
                                                        <label for="calculator_widget_PMISel0">$</label>
                                                    </span>
                                                    <span class="input-group-addon">
                                                        <input type="radio" checked="checked" value="1" name="calculator_widget[PMISel]" id="calculator_widget_PMISel1" />
                                                        <label for="calculator_widget_PMISel1">%</label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <button type="submit" class="btn btn-primary btn-block" type="button">Show results</button>
                        </form>

                        <div class="card" id="answer" style="margin: 30px 0 0">
                            <div class="card-header">
                                Results
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">

                                </table>
                            </div>
                        </div>
                    </section>

                </div>

                <div class="col-md-8">
                    <section class="chart">
                        <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
                    </section>
                </div>
            </div>
        </div>

    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script>
        jQuery(function() {

            // get amortization schedule generator here: https://github.com/scrubmx/jquery.loan-calculator
            // review this article for building amortization schedule: http://www.investopedia.com/terms/a/amortization_schedule.asp
            $ = jQuery;
            form = $('form#calculator-form');

            // calculate payment
            function pmt(rate, nper, pv) {
                var pvif, pmt;

                pvif = Math.pow(1 + rate, nper);
                pmt = rate / (pvif - 1) * -(pv * pvif);

                return pmt;
            };

            // amortization schedule
            function computeSchedule(loan_amount, interest_rate, payments_per_year, years, payment) {
                var schedule = [];
                var remaining = loan_amount;
                var number_of_payments = payments_per_year * years;

                for (var i = 0; i <= number_of_payments; i++) {
                    var interest = remaining * (interest_rate / 100 / payments_per_year);
                    var principle = (payment - interest);
                    var row = [i, principle > 0 ? principle : 0, interest > 0 ? interest : 0, remaining > 0 ? remaining : 0];
                    schedule.push(row);
                    remaining -= principle
                }

                return schedule;
            }

            form.submit(function(e) {
                e.preventDefault();

                var data = new FormData();

                data.append("calculator", "BuyVsRentCalculator");
                data.append("template", "SingleBuyVsRentCalculator");
                data.append("calculatorData[calculator_widget][PeriodRent]", $(this).find('input[name="calculator_widget[PeriodRent]"]').val());
                data.append("calculatorData[calculator_widget][AnnualRentIncrease]", $(this).find('input[name="calculator_widget[AnnualRentIncrease]"]').val());
                data.append("calculatorData[calculator_widget][HomeValue]", $(this).find('input[name="calculator_widget[HomeValue]"]').val());
                data.append("calculatorData[calculator_widget][AnnualMaintanance]", $(this).find('input[name="calculator_widget[AnnualMaintanance]"]').val());
                data.append("calculatorData[calculator_widget][AnnualAppreciation]", $(this).find('input[name="calculator_widget[AnnualAppreciation]"]').val());
                data.append("calculatorData[calculator_widget][YearsBeforeSell]", $(this).find('input[name="calculator_widget[YearsBeforeSell]"]').val());
                data.append("calculatorData[calculator_widget][SellingCost]", $(this).find('input[name="calculator_widget[SellingCost]"]').val());
                data.append("calculatorData[calculator_widget][Amount]", $(this).find('input[name="calculator_widget[Amount]"]').val());
                data.append("calculatorData[calculator_widget][Interest]", $(this).find('input[name="calculator_widget[Interest]"]').val());
                data.append("calculatorData[calculator_widget][Length]", $(this).find('input[name="calculator_widget[Length]"]').val());
                data.append("calculatorData[calculator_widget][Points]", $(this).find('input[name="calculator_widget[Points]"]').val());
                data.append("calculatorData[calculator_widget][Taxes]", $(this).find('input[name="calculator_widget[Taxes]"]').val());
                data.append("calculatorData[calculator_widget][PropertyTaxes]", $(this).find('input[name="calculator_widget[PropertyTaxes]"]').val());
                data.append("calculatorData[calculator_widget][PropertyTaxesSel]", $(this).find('input[name="calculator_widget[PropertyTaxesSel]"]').val());
                data.append("calculatorData[calculator_widget][Insurance]", $(this).find('input[name="calculator_widget[Insurance]"]').val());
                data.append("calculatorData[calculator_widget][InsuranceSel]", $(this).find('input[name="calculator_widget[InsuranceSel]"]').val());
                data.append("calculatorData[calculator_widget][PMI]", $(this).find('input[name="calculator_widget[PMI]"]').val());
                data.append("calculatorData[calculator_widget][PMISel]", $(this).find('input[name="calculator_widget[PMISel]"]').val());

                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "./api.php",
                    "method": "POST",
                    "headers": {
                        "cache-control": "no-cache",
                        "postman-token": "4ba25b73-2b78-3fae-62ac-6f35e917e76f"
                    },
                    "processData": false,
                    "contentType": false,
                    "mimeType": "multipart/form-data",
                    "data": data
                }

                $.ajax(settings)
                .done(function(res) {
//                    console.log(res);
                    var result_table = $(res).find('table#calculator-result-table');
                    var totalPaymentsRent = $(result_table).find('strong:contains("Total Payments")').parents('tr').find('td:nth-child(2)').text();
                    console.log(totalPaymentsRent);
                    $('input#test').val(totalPaymentsRent);
                    $('#answer').find('div.card-body table').remove();
                    $('#answer').show();
                    $('#answer').find('div.card-body').append($(result_table));
                })
            })
        });
    </script>
</body>

</html>